log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1
.DS_Store
azure-update-report/
.github/agents
.github/instructions
.github/prompts
.github/memory
.github/skills
.vscode
well-architected/service-guides/*.yaml
wip
logs
node_modules
tools