# These owners will be the default owners for everything in the repo. Unless a later match takes precedence
* @PageWriter-MSFT @josevarela @claytonsiemens77 @v-regandowner

# Content leads to approve all pull requests opened in the repo
/well-architected/  @PageWriter-MSFT @josevarela @claytonsiemens77 @v-regandowner


# Owners of the Mission-Critical design methodology for mission-critical workloads.
/well-architected/mission-critical/ @calcof @hjscherer
